"*":
  "atom-beautify":
    general:
      _analyticsUserId: "edb049ec-dd75-4bb4-988a-aeba1d632c5c"
      beautifyEntireFileOnSave: false
      muteUnsupportedLanguageErrors: true
    html:
      brace_style: "expand"
      end_with_newline: true
      indent_inner_html: true
  core:
    disabledPackages: [
      "whitespace"
      "wrap-guide"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".sass-cache"
      "node_modules"
      ".tags"
      ".TAGS"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    extra_tags: [
      "@author: Filipe Kiss <eu@filipekiss.com.br>"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 16
    invisibles:
      cr: "⮐"
      eol: "➜"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "7efa3b63-1973-4123-b771-dead6e0e68a2"
  linter:
    lintPreviewTabs: false
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
  "linter-phpcs":
    autoExecutableSearch: false
    executablePath: "/usr/local/bin/phpcs"
  "linter-ui-default":
    gutterPosition: "Left"
    showDecorations: false
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "multi-wrap-guide":
    columns: [
      72
      80
      100
      120
    ]
    locked: true
    silent: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "relative-numbers":
    showAbsoluteNumbers: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    highlightSearch: true
    keymapPToPutWithAutoIndent: true
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
