[submodule "fonts"]
	path = fonts
	url = keybase://private/filipekiss/fonts
	branch = master
[submodule "sidekicks/keys"]
	path = sidekicks/keys
	url = keybase://private/filipekiss/private-keys
	branch = master
