[submodule "fonts"]
	path = fonts
	url = keybase://private/filipekiss/fonts
[submodule "sidekicks/keys"]
	path = sidekicks/keys
	url = keybase://private/filipekiss/private-keys
[submodule ".zshero"]
	path = .zshero
	url = https://github.com/filipekiss/zshero
[submodule "sidekicks/vim"]
	path = sidekicks/vim
	url = git@github.com:filipekiss/vimfiles.git
[submodule "sidekicks/zsh"]
	path = sidekicks/zsh
	url = git@github.com:filipekiss/zdotdir
