snippet :truncate "Truncate text using CSS only"
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: ${1:2}
-webkit-box-orient: vertical;
text-overflow: ellipsis;
$0
endsnippet

snippet :mq "Media Query"
@media ${1:screen} ${2:and (${3:min}-width: ${4:768px})} {
    ${0:${VISUAL}}
}
endsnippet
