snippet this "$this" i
\$this${0}
endsnippet

snippet this- "$this->" i
\$this->${0}
endsnippet

snippet php "<?php ?>" s
<?php
${0:${VISUAL}}
${1:?>}
endsnippet

snippet echo "<?php echo ${VISUAL} ?>" i
<?php echo ${0:${VISUAL}}; ?>
endsnippet
# vim:ft=snippets:
