snippet parser "Parse Arguments using CASE" b
_parse_arguments() {
    local    arg
    while (( $# > 0 ))
    do
        arg="\$1"
        case "\$arg" in
            *)
                ;;
        esac
        shift
    done
    return 0
}
endsnippet


