extends html, html.twig

snippet if "if block" b
{% if ${1:condition}%}
    ${0:${VISUAL}}
{% endif %}
endsnippet

snippet else "else"
{% else %}
endsnippet

snippet elsif "else"
{% elseif %}
endsnippet
